@import '../../assets/styl/Colors.styl'

.LeftBar
  background-color: #2a58ae
  width: 17%
  height: 100vh
  z-index 999
  position: fixed

.Avatar-Logo
  width: 35%
  max-width: 150px
  height auto
  border-radius: 100%
  margin-top: 10px
  margin-left: 0
  user-select: none

.LeftBarIco
  font-size: 35px
  margin-bottom: 4px
  color: #F5F5F5
  

.Left-Buton
  display: flex
  flex-direction: column
  margin-top: 10px
  padding: 20px
  opacity 0.6

.Left-Buton-text
  color: #F5F5F5
  font-weight: 500
  user-select: none

.Left-Buton-Selected
  border-left: 5px solid #23a2e5
  background-color: #1d4c9e
  opacity 1