
.Menu-Superior
  padding-top: 25px
  align-items: baseline
  

.IcoMenu
  font-size: 20px
  color: LightGray
  margin-left: 21px

.MenuNav 
  color: black
  font-weight: 600
  margin-left: 50px
  user-select: none
  opacity: 0.7

.MenuNavSelected, .MenuNavSelected:hover
  color: #0ea7eb 
  padding-bottom: 10px
  border-bottom: 3px solid  #0ea7eb 
  opacity: 1