@import './Colors.styl'

body
  overflow: hidden
  overflow-x: hidden
  scroll-behavior: smooth

::-webkit-scrollbar
  width: 0px
  
.caixa
  padding: 0
  margin: 0

.FeedCaixa
  display flex
  flex-direction: row
  padding: 15px

.dasdasdasd
  display inline

.ddddddd
  margin 15px auto


.CaixaAbout
  width 300px
  height 300px

.CaixaSeguir
  width 99%
  height auto
  padding 40px
  margin-top 15px

.ContainerPagina // 
  background-color: #eaeef1
  width: 84%
  height: 91%
  position: fixed
  overflow-y scroll
  padding 30px

.caixaCards
  align-items: center
  width 100%

.MiniFoto
  width 60%
  hidth 60%
  border-radius: 100%
  display inline
  user-select: none

.DetalhesFeed
  align-items: baseline
  margin: 0 auto

.home //pading do conteiner de conteudo
  padding: 25px

.AboutAlingt
  display flex
  flex-direction row

/* Helpers */
.flex-directions-colum
  flex-direction: column 

.margin-15px
  margin-left 15px

.margin-25px
  margin-left 25px

.padding-20px
  padding 20px

.padding-40px
  padding 40px
  


.alingt
  margin-left 3vw

.CirculoVerde
  width: 50px;
  height: 100px;
  border-radius: 50%;
  background-color red

/* Estilos personalizados */
.Titulo
  padding: 0px
  margin-top:0px
  color: Branco 
  font-size: 15px
  font-weight: 700

.TituloDestacado
  font-size 25px
  font-weight 100

.SubTitulo
  padding: 0px
  margin-top:0px
  color: #2ea7e9 
  font-size: 14px
  font-weight: 500

.ButonsTransparendRonded, .ButonsTransparendRonded:hover
  width: auto
  background-color: transparent
  border: 1px solid #2480ca 
  color: Branco
  opacity 1
  font-size: 13px
  font-weight: 500

.Space
  margin-left 15px
