@import './Colors.styl'

body
  overflow: hidden
  overflow-x: hidden
  scroll-behavior: smooth
  
.caixa
  padding: 0
  margin: 0

.ContainerPagina // 
  background-color: #eaeef1
  width: 84%
  height: 91%
  position: fixed
  overflow-y scroll

.home //pading do conteiner de conteudo
  padding: 25px

.Titulo
  padding: 0px
  margin-top:0px
  color: Branco 
  font-size: 15px
  font-weight: 700

.SubTitulo
  padding: 0px
  margin-top:0px
  color: #2ea7e9 
  font-size: 14px
  font-weight: 500

.ButonsTransparendRonded
  width: auto
  background-color: transparent
  border: 1px solid #2480ca 
  color: Branco
  opacity 0.9
  font-size: 13px
  font-weight: 500


::-webkit-scrollbar
  width: 0px